a:link{
    color: black;
}
a:visited{
    color: black;
}
.scrollUp{
    font-family: 'Gill Sans', serif;
    font-size: 20px;
    color: #fc6d6d;
    margin-left: 480px;
    position: relative;
    width: 195px;
    opacity: 0.8;

}

.scrollUp::after{
    content: '';
    position: absolute;
    border-left: 2px solid #fc6d6d;
    left: 0;
    height: 100%;
    width: 100%;
    animation: typing 4s steps(33) infinite;
    background-color: rgb(253, 253, 255);
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -2px 0 -2px;

    }
}

.heading{
    display: flex;
    flex-direction: row;
    margin-top: 200px;

}

.myName{
    font-family: 'Marker Felt', fantasy;
    font-size: 40px;
    margin-left: 100px;
    margin-right: 410px;
    display: inline-block;
}


.title{
    display: flex;
    padding-top:40px;
}

.titleFormat{
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
    font-family: 'Gill Sans', serif;
    font-size:medium;
}
.titleFormat:hover{
    opacity:0.6;
}

.researchTitle{
    position: relative;
    padding-bottom: 5px;
    height: 50px;
}

.researchSubtitle{
    font-family: 'Gill Sans', serif;
    width: 80px;
    top: 40px;
    padding-top: -20px;
    padding-left: 20px;
}

.researchTitle .researchSubtitle{
    position: absolute;
    opacity: 0;
    transition: opacity 0.45s;
}
.researchTitle:hover .researchSubtitle{
    opacity: 1;
}

.studyTitle{
    position: relative;
    padding-bottom: 5px;
    height: 50px;
}
.studySubtitle{
    font-family: 'Gill Sans', serif;
    width: 80px;
    top: 40px;
    padding-top: -20px;
    padding-left: 20px;
}

.studyTitle .studySubtitle{
    position: absolute;
    opacity: 0;
    transition: opacity 0.45s;
}
.studyTitle:hover .studySubtitle{
    opacity: 1;
}

.subtitle{
    cursor:pointer;
    color: black;
    text-decoration: none;
}
.subtitle:hover{
    opacity: 0.6;
}
.icon{
    display: flex;
    padding-top: 50px;
}
.fa-instagram{
    cursor: pointer;
    margin-right: 8px;
    margin-left: 50px;
    padding-top:13px;
}
.fa-instagram:hover{
    opacity: 0.6;
}
.instagram{
    position: relative;
}
.instagramTip{
    font-family: 'Gill Sans',serif;
    padding-left: 50px;
    width: 200px;
    font-size: 15px;
}

.instagram .instagramTip{
    position: absolute;
    opacity: 0;
    transition: opacity 0.45s;
    pointer-events: none;
}
.instagram:hover .instagramTip{
    opacity: 0.4;
}
 .fa-envelope{
    cursor: pointer;
    margin-right: 8px;
    padding-top:13px;
 }
 .fa-envelope:hover{
    opacity: 0.6;
}

.gmail{
    position: relative;
}
.gmailTip{
    font-family: 'Gill Sans',serif;
    font-size: 15px;
}

.gmail .gmailTip{
    position: absolute;
    opacity: 0;
    transition: opacity 0.45s;
    pointer-events: none;
}
.gmail:hover .gmailTip{
    opacity: 0.7;
}


.fa-comments{
    cursor: pointer;
    padding-top:13px;
}
.fa-comments:hover{
    opacity: 0.6;
}

.wechat{
    position: relative;
}
.wechatTip{
    font-family: 'Gill Sans',serif;
    font-size: 15px;
}

.wechat .wechatTip{
    position: absolute;
    opacity: 0;
    transition: opacity 0.45s;
    pointer-events: none;
}
.wechat:hover .wechatTip{
    opacity: 0.7;
}



.horizontalLine1{
    width: 1200px;
    opacity: 0.35;
    margin-top: 170px;
    margin-bottom: 50px;
}

.hiImDiv{
    display: flex;
    position: relative;
}
.facetimePic{
    margin-top: 100px;
    margin-left: 160px;
    display:inline-block;
    transform: translate(-400px, 0) scale(0);
    transition: 1s
}
.facetimePic.active{
    transform: translate(0,0) scale(1);
}

.museumPic{
    display:inline-block;
    margin-right: 30px;
    transform: translate(-400px, 0) scale(0);
    transition: 1.5s
}
.museumPic.active{
    transform: translate(0,0) scale(1);
}

.hiDiv{
    align-items: center;
}
.hiPic{
    width:700px;
    display: inline-block;
    vertical-align: middle;
}


.hiText{
    display: inline-block;
    font-family: 'Bradley Hand', cursive;
    font-size:100px;
    display:inline-block;
    position: absolute;
    top: 10px;
    right: 200px;
    transform: translate(400px, 0px) scale(0);
    transition: 1s

}
.hiText.active{
    transform: translate(0,0) scale(1);
}


.disneyPic{
    margin-left: 330px;
    display:inline-block;
    transform: translate(-400px, 0) scale(0);
    transition: 1s
}
.disneyPic.active{
    transform: translate(0,0) scale(1);
}
.catPic{
    display:inline-block;
    margin-right: 120px;
    transform: translate(-400px, 0) scale(0);
    transition: 1.5s
}
.catPic.active{
    transform: translate(0,0) scale(1);
}
.elise{
    font-family: 'Bradley Hand', cursive;
    font-size:100px;
    display:inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: top;
    transform: translate(400px, 0) scale(0);
    transition: 2s
}
.elise.active{
    transform: translate(0,0) scale(1);
}
.elisePic{
    display:inline-block;
}


.homepageText{
    padding-top: 100px;
    padding-left: 250px;
    padding-bottom: 30px;
    width: 700px;
    font-family: 'Gill Sans', serif;
    margin-block: 5px;
    font-size: 18px;
}

.bottomIcon{
    margin-top: 150px;
    display: flex;
    margin-left: 500px;
}
