p{
    margin: 10px
}
a:link{
    color: black;
    text-decoration: underline;
}
a:visited{
    color: black;
}

.heading{
    display: flex;
    flex-direction: row;
    margin-left: 80px;
}
.myName{
    font-family: 'Marker Felt', fantasy;
    font-size: 40px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 380px;
    display: inline-block;
}
.title{
    display: flex;
    padding-top:40px;
}

.titleFormat{
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
    font-family: 'Gill Sans', serif;
    font-size:medium;
}
.titleFormat:hover{
    opacity:0.6;
}

.researchTitle{
    position: relative;
    padding-bottom: 5px;
    height: 50px;
}
.researchSubtitle{
    font-family: 'Gill Sans', serif;
    width: 80px;
    top: 40px;
    padding-top: -20px;
    padding-left: 20px;
}

.researchTitle .researchSubtitle{
    position: absolute;
    opacity: 0;
    transition: opacity 0.45s;
}
.researchTitle:hover .researchSubtitle{
    opacity: 1;
}


.subtitle{
    cursor:pointer;
    color: black;
    text-decoration: none;
}
.subtitle:hover{
    opacity: 0.6;
}
.icon{
    display: flex;
    padding-top: 50px;
}

.igemBody{
    margin-left: 100px;
}

.igemHeading{
    display: flex;
}
.igemImage{
    display: inline-block;
    margin-left: 50px;
}

.igemTitle{
    font-family: 'Gill Sans', serif;
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 50px;
}
.horizontalLine3{
    width: 1130px;
    opacity: 0.35;
    margin-top: 50px;
    margin-bottom: 50px;
}
.igemText{
    margin-left: 60px;
    font-family: 'Gill Sans', serif;
    font-size: 18px;
    width: 700px;
}
.igemIntro{
    display: flex;
    position: relative;
    margin-bottom: 50px;
}
.igemPic{
    margin-left: 20px;
    margin-bottom: 50px;
    position: absolute;
    right: 85px;
}
.igemExp{
    display: flex;
    margin-bottom: 40px;
}
.teamPic{
    margin-left: 60px;
    object-fit: cover;
    display: inline-block;
    height: 230px;
    object-position: bottom;
    

}
.expText{
    margin-left: 60px;
    margin-top: 8px;
    font-family: 'Gill Sans', serif;
    font-size: 18px;
    width: 600px;
    display: inline-block;
}
.dtrnaPic{
    display: inline-block;
    margin-left: 200px;
}



.horizontalLine1{
    width: 1200px;
    opacity: 0.35;
    margin-top: 200px;
}
.bottomIcon{
    margin-top: 150px;
    display: flex;
    margin-left: 600px;
}

.fa-instagram{
    cursor: pointer;
    margin-right: 8px;
    margin-left: 50px;
    padding-top:13px;
}
.fa-instagram:hover{
    opacity: 0.6;
}
.instagram{
    position: relative;
}
.instagramTip{
    font-family: 'Gill Sans',serif;
    padding-left: 50px;
    width: 200px;
    font-size: 15px;
}

.instagram .instagramTip{
    position: absolute;
    opacity: 0;
    transition: opacity 0.45s;
    pointer-events: none;
}
.instagram:hover .instagramTip{
    opacity: 0.4;
}
 .fa-envelope{
    cursor: pointer;
    margin-right: 8px;
    padding-top:13px;
 }
 .fa-envelope:hover{
    opacity: 0.6;
}

.gmail{
    position: relative;
}
.gmailTip{
    font-family: 'Gill Sans',serif;
    font-size: 15px;
}

.gmail .gmailTip{
    position: absolute;
    opacity: 0;
    transition: opacity 0.45s;
    pointer-events: none;
}
.gmail:hover .gmailTip{
    opacity: 0.7;
}


.fa-comments{
    cursor: pointer;
    padding-top:13px;
}
.fa-comments:hover{
    opacity: 0.6;
}

.wechat{
    position: relative;
}
.wechatTip{
    font-family: 'Gill Sans',serif;
    font-size: 15px;
}

.wechat .wechatTip{
    position: absolute;
    opacity: 0;
    transition: opacity 0.45s;
    pointer-events: none;
}
.wechat:hover .wechatTip{
    opacity: 0.7;
}
