p{
    margin: 10px
}
a:link{
    color: black;
    text-decoration: underline;
}


.heading{
    display: flex;
    flex-direction: row;
}
.myName{
    font-family: 'Marker Felt', fantasy;
    font-size: 40px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 380px;
    display: inline-block;
}
.title{
    display: flex;
    padding-top:40px;
}

.titleFormat{
    color: black;
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
    font-family: 'Gill Sans', serif;
    font-size:medium;
}
.titleFormat:hover{
    opacity:0.6;
}

.researchTitle{
    position: relative;
    padding-bottom: 5px;
    height: 50px;
}
.researchSubtitle{
    font-family: 'Gill Sans', serif;
    width: 80px;
    top: 40px;
    padding-top: -20px;
    padding-left: 20px;
}

.researchTitle .researchSubtitle{
    position: absolute;
    opacity: 0;
    transition: opacity 0.45s;
}
.researchTitle:hover .researchSubtitle{
    opacity: 1;
}


.subtitle{
    cursor:pointer;
    color: black;
    text-decoration: none;
}
.subtitle:hover{
    opacity: 0.6;
}
.icon{
    display: flex;
    padding-top: 50px;
}


.individualHeading{
    display: flex;
}
.individualImage{
    display: inline-block;
    margin-left: 40px;
}

.individualTitle{
    font-family: 'Gill Sans', serif;
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 50px;
}
.horizontalLine3{
    width: 1130px;
    opacity: 0.35;
    margin-top: 50px;
    margin-bottom: 50px;
}


.individualText{
    margin-left: 60px;
    font-family: 'Gill Sans', serif;
    font-size: 18px;
    width: 700px;
    margin-right: 50px;
}
.individualIntro{
    display: flex;
}
.brainLiverPic{
    margin-bottom: 50px;
}

.individualExp{
    display: flex;
    margin-bottom: 40px;
}
.MRPic{
    margin-left: 60px;
    object-fit: contain;
    display: inline-block;

}
.expText{
    margin-left: 60px;
    font-family: 'Gill Sans', serif;
    font-size: 18px;
    width: 300px;
    display: inline-block;
}
.resultsText{
    margin-left: 60px;
    font-family: 'Gill Sans', serif;
    font-size: 18px;
    width: 600px;
    display: inline-block;
}
.linkText{
    margin-left: 60px;
    font-family: 'Gill Sans', serif;
    font-size: 18px;
    width: 600px;
    display: inline-block;
    text-decoration: underline;
}
.pptDiv{
    display: flex;
}
.pptThumbnail{
    display: inline-block;
}



.horizontalLine1{
    width: 1200px;
    opacity: 0.35;
    margin-top: 200px;
}
.bottomIcon{
    margin-top: 150px;
    display: flex;
    margin-left: 500px;
}

.fa-instagram{
    cursor: pointer;
    margin-right: 8px;
    margin-left: 50px;
    padding-top:13px;
}
.fa-instagram:hover{
    opacity: 0.6;
}
.instagram{
    position: relative;
}
.instagramTip{
    font-family: 'Gill Sans',serif;
    padding-left: 50px;
    width: 200px;
    font-size: 15px;
}

.instagram .instagramTip{
    position: absolute;
    opacity: 0;
    transition: opacity 0.45s;
    pointer-events: none;
}
.instagram:hover .instagramTip{
    opacity: 0.4;
}
 .fa-envelope{
    cursor: pointer;
    margin-right: 8px;
    padding-top:13px;
 }
 .fa-envelope:hover{
    opacity: 0.6;
}

.gmail{
    position: relative;
}
.gmailTip{
    font-family: 'Gill Sans',serif;
    font-size: 15px;
}

.gmail .gmailTip{
    position: absolute;
    opacity: 0;
    transition: opacity 0.45s;
    pointer-events: none;
}
.gmail:hover .gmailTip{
    opacity: 0.7;
}


.fa-comments{
    cursor: pointer;
    padding-top:13px;
}
.fa-comments:hover{
    opacity: 0.6;
}

.wechat{
    position: relative;
}
.wechatTip{
    font-family: 'Gill Sans',serif;
    font-size: 15px;
}

.wechat .wechatTip{
    position: absolute;
    opacity: 0;
    transition: opacity 0.45s;
    pointer-events: none;
}
.wechat:hover .wechatTip{
    opacity: 0.7;
}